{% extends "base/base.html" %}

{% block name %} agregar producto  {% endblock  %}

{% block content %}

<h1 class="ms-5">Agregar Producto</h1>
<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="id_nombreProducto" class="col-form-label">Nombre del Producto:</label>
            {{ form.nombreProducto }}
        </div>
        <div>
            <label for="id_descripcion" class="col-form-label">Descripción:</label>
            {{ form.descripcion }}
        </div>
        <div>
            <label for="id_descripcion" class="col-form-label">Cantidad:</label>
            {{ form.cantidad }}
        </div>
        <div>
            <label for="id_precio" class="col-form-label">Precio:</label>
            {{ form.precio }}
        </div>
        <div>
            <label for="id_imagen">Imagen:</label>
            {{ form.imagen }}
        </div>
        <br>
        <div class="modal-footer">
        <Button class="btn btn-primary">Agregar</Button>
        </div>
        
    </form>
    <br>
    
</div>

{% endblock content %}