{% extends "base/base.html" %}
{% load static %}

{% block name %} producto {% endblock  %}

{% block title %}<img src="{%static 'imagenes\logo_pyme.jpg' %}" height="3%" width="3%" > <h1>Snake Dreams</h1>{% endblock %}

{% block content %}
<img  src="{{ producto.imagen.url }}" width="200px"  height="200px" alt="Imagen del producto">
<h1>{{producto.nombreProducto}}</h1>
<h1>{{producto.descripcion}}</h1>
<h1>{{producto.precio}}</h1>

<a href="/snakedreams" class="btn btn-danger">Volver</a>
{% endblock  %}