{% extends "base/base.html" %}
{% load static %}

{% block name %} producto {% endblock  %}



{% block title %}

{% for py in pyme %}

{% if py.id == producto.pymeAsociada_id %}
<img src="{{ py.imagen.url }}" height="3%" width="3%" > <h1>{{py.nombrePyme}}</h1>
{% endif %}

{% endfor %}

{% endblock %}




{% block content %}

<img  src="{{ producto.imagen.url }}" width="200px"  height="200px" alt="Imagen del producto">
<h1>{{producto.nombreProducto}}</h1>
<h1>{{producto.descripcion}}</h1>
<h1>{{producto.precio}}</h1>

<a href="{% url 'gestion:pyme' producto.pymeAsociada_id %}" class="btn btn-danger">Volver</a>
{% endblock  %}