{% extends "base/base.html" %}
{% load static %}

{% block name %} tienda  {% endblock  %}

{% block title %}<img src="{{ pyme.imagen.url }}" height="3%" width="3%" > <h1>{{pyme.nombrePyme}}</h1>{% endblock %}


{% block content %}

<div class="row">
    
    {% for producto in productos %}
    {% if producto.pymeAsociada_id == pyme.id %}
    <a href="{% url 'gestion:detalle' producto.id %}" style="text-decoration: none; width:auto">
    <div class="col-md-3">
    <div class="card" style="width: 15rem;">
        {% if producto.imagen %}
    <img class="card-img-top " src="{{ producto.imagen.url }}" width="18rem"  height="250rem" alt="Imagen del producto">
    {% else %}
            <p>No hay imagen disponible</p>
            {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ producto.nombreProducto }}</h5>
            <p class="card-text">{{ producto.descripcion }}</p>
            <p class="card-text">Precio: {{ producto.precio }}</p> 
            <a class="btn btn-primary" >Agregar Al Pedido</a>
        </div>
    </div>
</div>
</a>

{% endif %}
    {% endfor %}
    
</div>
</a>
{% for p in propie  %}
{% if user.rol == 2 and pyme.propietario_id == p.id and p.datosPropietario_id == user.id %}
<div class="modal-footer" >
    <a class="btn btn-primary" href="{% url 'gestion:agregarProducto' pk=pyme.id %}">Agregar un Producto</a>
    </div>
{% endif %}

{% endfor %}

{% endblock  %}