{% extends "base/base.html" %}
{% load static %}


{% block title %}<img src="{%static img%}" height="100px" width="120px" > <h1>Snake Dreams</h1>{% endblock %}


{% block content %}
<div class="row">
    {% for producto in productos %}
    <a href="{% url 'gestion:detalle' producto.id %}" style="text-decoration: none; width:auto">
    <div class="col-md-3">
    <div class="card" style="width: 15rem;">
        {% if producto.imagen %}
    <img class="card-img-top " src="{{ producto.imagen.url }}" width="18rem"  height="250rem" alt="Imagen del producto">
    {% else %}
            <p>No hay imagen disponible</p>
            {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ producto.nombreProducto }}</h5>
            <p class="card-text">{{ producto.descripcion }}</p>
            <p class="card-text">Precio: {{ producto.precio }}</p> 
        </div>
    </div>
</div>
</a>
    {% endfor %}
</div>
</a>
<div class="modal-footer" >
<a class="btn btn-primary" href="crear">Agregar un Producto</a>
</div>
{% endblock  %}