{% extends "base/base.html" %}
{% load static %}

{% block name %} Pymes {% endblock  %}


{%block title%}<h1>Pyme's</h1>{%endblock%}

{%block content%}


<div class="row">
    {% for pyme in pymes  %}
    <div class="col-lg-3">
        <div class="card " style=" width:20rem; height:31rem;">
            <img src="{{ pyme.imagen.url }}" class="card-img-top">
            <div class="card-body">
                <h4 class="card-title text-center">{{ pyme.nombrePyme }}</h4>
                <br>
                <a href="{% url 'gestion:pyme' pyme.id %}" class="btn btn-primary boton-card ">Visitar</a>
            </div>
        </div>
    </div>
    {% endfor %}



    {% if u == 3 %}

    <div class="modal-footer" >
        <a class="btn btn-primary" href="{% url 'main:solicitudAdmin' %}">Administrar Solicitudes</a>
        </div>
    
    {% endif %}
    

{%endblock%}