{% extends "base/base.html" %}

{% block name %} Registrar {% endblock  %}


{% block title %}
<h1>Registrarse</h1>
{% endblock  %}

{% block content %}


<div class="container mt-5">
    <div class="row justify-content-center align-items-center" style="min-height: 100vh; margin-top: -150px;">
        <div class="col-md-6">
            <div class="card" style="transition:none; transform:none ">
                <div class="card-header">Registro</div>
                <div class="card-body">    
                    <form class="form" method="post"> 

                        {% csrf_token %}
                        {{form.as_p }}

                        <button class="btn btn-primary" type="button submit">Registrar</button>
                    </form>
                    <p>Ya tienes una Cuenta? Ingresa <a href="/login/">Aqui</a></p>


                </div>
                </div>
        </div>
</div>

{% endblock  %}