{% extends "base/base.html" %}

{% block style %}
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
{% endblock  %}

{% block title %}
<h1>solicitudes </h1>
{% endblock  %}


{% block content %}

<table>
<tr>
  
    <th>fecha de solicitud</th>
    <th>nombre</th>
    <th>apellido</th>
    <th>nombre Pyme</th>
    <th>solicitud</th>
</tr>
{% for soli in solicitudes  %}
    <tr>
  
    <td>{{soli.fecha_de_solicitud}}</td>
    <td>{{soli.nombre}}</td>
    <td>{{soli.apellidos}}</td>
    <td>{{soli.nombrePyme}}</td>
    <td>{{soli.solicitud}}</td>
    <td><a href="{% url 'main:solidetail' soli.id %}"><button>Ver solicitud</button></a></td>
    </tr>
    
{% endfor %}

</table>






{% endblock  %}