{% extends "base/base.html" %}

{% block name %} Mi Cuenta {% endblock  %}

{% block title %}
<h1>Mi Cuenta</h1>
{% endblock  %}


{% block style %}
<style>
    .cuentaUser{
        height: 100%;
        width: 100%;
        border-top: 5px solid;

    }
    .diseUser{
        height: 100%;
        width: 98%;
        border: 5px solid;

    }
    h2{
        margin-bottom: 20px;
        margin-top: 20px;
    }
    </style>
   
   
{% endblock  %}


{% block content %}

<div class="diseUser">
    <h1>Mi Cuenta</h1>
    <div class="cuentaUser">
        <div style="margin: 20px;">
            <h2>Nombre</h2>
            <h5>{{ nombre }}</h5>

            <h2>Apellido</h2>
            <h5>{{ apellido }}</h5>

            <h2>Email</h2>
            <h5>{{ email }}</h5>
        </div>
        <div class="modal-footer">
            <a style="height: 2.5rem; width: 7rem; margin: 20px;" class="btn btn-dark" href="{% url 'main:logout' %}">Salir</a>
        </div>
    </div>
</div>


{% endblock  %}